
/* Import theme */
@import "magnetic/theme.css";

/* Import a custom stylesheet
 * Everything you add in your customChrome.css file (it doesn't exist by
 * default) will be included here and preserved between updates. 
 * You can apply your own custom styles in that file. */
@import "customChrome.css";
@import "magnetic/parts/tabcenter.css";
@import "magnetic/parts/bookmarks_toolbar.css";
@import "magnetic/parts/extensions-menu.css";
/*@import "magnetic/parts/bali.css" */

/*.menupopup-arrowscrollbox *{
display: grid;
grid-auto-flow: column;
grid-template-rows: repeat(35, auto);
}
*/

/* look at parts > popups.css
menupopup > menuitem,
menupopup > menu{
  min-width: 120px !important;
}*/
/*
#navigator-toolbox:not(:hover) #nav-bar {
    visibility: collapse !important;
}
#navigator-toolbox:not(:hover) {
    border-bottom: none !important;
}
*/
.titlebar-button{
  list-style-image: none !important;
  appearance: auto !important;
}

.titlebar-min {
  -moz-default-appearance: -moz-window-button-minimize !important;
}
.titlebar-max {
  -moz-default-appearance: -moz-window-button-maximize !important;
}
.titlebar-restore {
  -moz-default-appearance: -moz-window-button-restore !important;
}
.titlebar-close {
  -moz-default-appearance: -moz-window-button-close !important;
}